<div class="wrapper">
  <button mat-dialog-close class="wrapper-close">
    <mat-icon>
      <span class="material-symbols-outlined">
        close
      </span>
    </mat-icon>
  </button>
  <div class="wrapper-content">
    <h1 mat-dialog-title class="wrapper-content-title">SUCCESS!</h1>
    <h4 mat-dialog-content class="wrapper-content-text">You have successfully subscribed to the email newsletter</h4>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="wrapper-content-button">
        Close
      </button>
    </div>
  </div>
</div>