@mixin extra-text {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

@mixin main-button {
  margin: 0 auto;
  margin-top: 0.75rem;
  padding-left: 1.5rem;
  width: 240px;
  height: 60px;
  background: #1d4169;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}
