<div class="wrapper">
  <img class="wrapper-logo" src="/assets/img/logo.svg" alt="logo">
  <div class="wrapper-text">
    <h1 class="wrapper-text-title">Under Construction</h1>
    <h4 class="wrapper-text-extra">We're making lots of improvements and will be back soon</h4>
  </div>
  <div class="wrapper-counter">
    <div class="wrapper-counter-time">
      {{countDownDate}}
    </div>
    <div class="wrapper-counter-list">
      <div class="wrapper-counter-list">
        <ng-container *ngFor="let list of listNameOfCounter">
          <div class="wrapper-counter-list-container">
            <div class="wrapper-counter-list-container-item">
              {{list}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="wrapper-event">
      <h4 class="wrapper-event-text">Check our event page when you wait:</h4>
      <button mat-raised-button class="wrapper-event-button">
        Go to the event
        <mat-icon>
          <span class="material-symbols-outlined">
            arrow_forward
          </span>
        </mat-icon>
      </button>
    </div>
    <div class="wrapper-footer">
      <!-- <mat-form-field appearance="fill"> -->
      <input matInput class="wrapper-footer-input" type="text" placeholder="Enter your Email and get notified">
      <button mat-mini-fab type="submit">
        <mat-icon>
          <span class="material-symbols-outlined">
            arrow_forward
          </span>
        </mat-icon>
      </button>

      <!-- </mat-form-field> -->
    </div>
  </div>