<div class="wrapper">
  <img src="/assets/img/logo.svg" alt="logo">
  <div>
    <h1>Under Construction</h1>
    <h4>We're making lots of improvements and will be back soon</h4>
  </div>
  <div>
    <p>{{countDownDate}}</p>
    <p>Days</p>
    <p>Hours</p>
    <p>Minutes</p>
    <p>Seconds</p>
  </div>
  <div>
    <h4>We're making lots of improvements and will be back soon</h4>
    <button>
      Go to the event
      <mat-icon>
        <span class="material-symbols-outlined">
          arrow_forward
        </span>
      </mat-icon>
    </button>
  </div>
  <div>
    <!-- <mat-form-field appearance="fill"> -->
    <mat-label>Input</mat-label>
    <input matInput placeholder="Enter your Email and get notified">
    <button type="submit">
      <mat-icon>
        <span class="material-symbols-outlined">
          arrow_forward
        </span>
      </mat-icon>
    </button>
    <!-- </mat-form-field> -->
  </div>
</div>