@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Poppins";
}
