<ng-container *ngIf="!tabletView; else tablet">
  <div [@allEventsAnimations]="state" class="wrapper">
    <h1 class="title text">All Events</h1>
    <div class="accordion-container slider" [ngClass]="{animate: animate}">
      <ng-container *ngFor="let event of events; let i = index">
        <div class="panel" [class]="event.active ? 'active' : 'not-active'" (click)="toggle(i, event.active, $event)">
          <div class="id" [class.info-active]="event.active">{{event.id}}</div>
          <div class="name" [class.info-active]="event.active">{{event.name}}</div>
          <div class="tab">
            <div class="tab-id">{{event.id}}</div>
            <div class="tab-name">{{event.name}}</div>
          </div>
          <div class="info" *ngFor="let photo of event.photo">
            <div class="info-id">{{event.id}}</div>
            <div class="info-name">{{photo.name}}</div>
            <div class="info-date">{{photo.date}}</div>
            <div class="info-text" #link (click)="openPage($event)">{{photo.text}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #tablet>
  <div [@allEventsAnimations]="state" class="wrapper">
    <h1 class="vertical-title text">All Events</h1>
    <ul class="accordion slider" [ngClass]="{animate: animate}">
      <li *ngFor="let event of events; let i = index">
        <div class="accordion-trigger">
          <div class="accordion-trigger-id">{{event.id}}</div>
          <div class="accordion-trigger-name">{{event.name}}</div>
        </div>
        <div class="accordion-content" *ngFor="let photo of event.photo" [class.hidden]="event.id !== '01'">
          <img class="accordion-content-img" [src]="photo.url">
          <div class="accordion-panel">
            <div class="accordion-panel-id">{{event.id}}</div>
            <div class="accordion-panel-name">{{photo.name}}</div>
            <div class="accordion-panel-date">{{photo.date}}</div>
            <div class="accordion-panel-text" (click)="openPage($event)">{{photo.text}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</ng-template>